.App {
  text-align: center;
  background: azure;
  padding: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}


/* App.css */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .txt-timer {
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1rem;
  }
  .txt-timer {
    font-size: 0.625rem;
  }
}